$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint:45rem;


body{
	color:gray;
}


// Main nav


.main-nav{
	height:65px;
	border:none;
	box-shadow:rgba(38,50,56,0.07) 0px 7px 50px 0px;
	z-index:100;
}


.navi-links{
	margin-right:50px;
}	

//Home
.homepage{

	clip-path: polygon(85% 55%, 100% 40%, 100% 0, 0 0, 0 100%, 0 94%, 22% 83%, 44% 77%, 62% 66%);
	background-image: linear-gradient(to right top, #540d6e, #810872, #aa1072, #cf266d, #ee4266);
	height:600px;
	display:flex;
	padding-left:$xl-size;
	align-items:center;
	color:white;

}
.homepage__container{
		padding-left:15px;
		border-left:3px solid white;
	}

.homepage__one{
	font-weight:bold;
	font-size:17px;
}
.homepage__two{
	font-weight:bold;
	font-size:50px;
}
.homepage__three{
	font-weight:400;
	font-size:20px;
}
.homepage__button{
	border:1px solid white;
	border-radius:5px;
	height:50px;
	width:200px;
	background:transparent;
	color:white;
	font-weight:bold;

}
//about
.aboutpage{
	height:600px;
	padding-left:$xl-size;
	padding-top:100px;

}
.aboutpage__container{
	display:flex;
}
.title{
	font-weight:bold;
	font-size:30px;
	border-bottom:3px solid #EE4266;
	margin-bottom:30px;

}
.aboutpage__title{
	font-weight:bold;
	font-size:30px;
	border-bottom:3px solid #EE4266;
	width:175px;
	margin-bottom:30px;
}
aboutpage__container{
	width:100%;
}
.aboutpage__img{
	width:500px;
}
.aboutpage__wrapone{
	width:50%;
}
.aboutpage__wraptwo{
	padding:18px;
	width:50%;
}
//.list-group-item{
//	border:none;
//}

*{
	border:1px solid red;
}

@media screen and (max-device-width: 768px) {

.homepage, .aboutpage{
	padding-left:20px;
}


.homepage{
	clip-path:none;
}

.aboutpage__container{
	display:flex;
	flex-direction:column;
}


}
//@media screen and (min-width: 800px) and (max-width: 1200px) {}



